/target
/.settings
/.classpath
/.DS_Store
/.project
/temp
.DS_Store
/.idea
/data
/indexes
/logs
/store
/table
/tmp
node_modules
package-lock.json
yarn.lock
/server
/web-sessions
/front/build
config.oss2.properties
opensearchserver.iml
dependency-reduced-pom.xml
