##requireResource("confluence.web.resources:space-admin")

<html>
  <head>
    <title>OpenSearchServer Configuration</title>
    <meta name="decorator" content="atl.admin" />
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
  </head>
  <body>
    <form id="admin" class="aui">
      <div>
        <label for="ServerUrl">Enter the Server url</label>
        <input type="text" id="server" name="serverurl" class="text">
      </div>
      <div>
        <label for="indexname">Enter the index name</label>
        <input type="text" id="indexname" name="indexname" class="text">
      </div>
       <div>
        <label for="username">Enter the UserName</label>
        <input type="text" id="username" name="username" class="text">
      </div>
       <div>
        <label for="key">Enter the Key</label>
        <input type="text" id="key" name="key" class="text">
      </div>
       <input type="hidden" id="action" name="action" value="index">
      <div>
        <input type="submit" value="index" class="button">
      </div>
    </form>
  </body>
</html>