.gisiHeader{background:#8192A2;border:none;width:100%;}
.gisiHeader img{border:none;}
.gisiLogout{font-size:14px; color:#F2F3F5; font-family:Arial, Helvetica, sans-serif;}
.gisiDisconnected {width:100%;text-align:center;margin-top:200px;color:#597085; font-size:14px;font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif;}
.gisiDisconnectedReconnect {text-decoration:underline;color:#597085;font-size:14px;font-weight:bold;}

.gisiOngletMenu{}
.gisiSousOngletContenu{}
.gisiSousOngletContenu .gisiSousOngletContenuActif{background: #ffffff url(../images/common/ongletbas_on.jpg); background-repeat:repeat-x;}
.gisiSousOngletContenu .gisiSousOngletContenuInactif{background: #ffffff url(../images/common/ongletbas_off.jpg);background-repeat:repeat-x;}

.gisiSousOngletContenuActif{border:medium none;color:#597085;font-size:14px;font-weight:bold;}
.gisiSousOngletContenuInactif{border:medium none;color:#597085;font-size:14px;font-weight:bold;}

.gisiGenericLink{color:#666666;font-size:12px;font-weight:bold;}
.gisiGenericLink a{color:#666666;font-weight:bold; text-decoration:none;}
.gisiGenericLink a:hover{text-decoration:underline;}


/* bordure des documents */
.gisiBordure1{}
.gisiBordure2{}

/* top zied*/
.gisiAlignTop {vertical-align:top;}
.gisiNoStyle {}

/* ERROR */
.gisiErrorMessage{ font-family:Arial, Helvetica, sans-serif; font-weight:bold ; color:red;}


.gisiListeDocumentHeader{}
.gisiListeDocumentHeader a{color:#597085;font-size:14px;font-weight:bold;}
.gisiListeDocumentHeader input{margin-left:5px;}

.gisiFiltreDocument{}
.gisiCreateDocument{}
.gisiCreateDocument a{font-size:11px; color:#617382;font-weight:bold;}

/* table des docs */
.gisiDocumentListeHeader{ text-align:center;}
.gisiDocumentListeHeader input,.gisiDocumentListeHeader select {font-size:11px;font-weight:bold;}
.gisiDocumentListeHeader a{color:#597085}
.gisiListeDocumentLigne{color:#666666;font-size:12px; font-weight:normal;}
.gisiListeDocumentLigne a{ color:#666666;font-size:12px; font-weight:bold; text-decoration:none;}
.gisiListeDocumentLigne a:hover{text-decoration: underline;}
.gisiDocumentListePair{ background-color:#F2F3F5;}
.gisiDocumentListeImpair{ background-color:#ffffff;}
.gisiListeDocumentDsPanier{ background-color: #597085; color:#ffffff;}
.gisiListeDocumentDsPanier a{color:#ffffff;font-size:12px; text-decoration:none; font-weight:bold;}
.gisiListeDocumentDsPanier a:hover{ text-decoration: underline;}

/* + et - de la liste des docs */
.gisiDocumentTagsOpen{font-size:11px;font-weight:normal;}
.gisiDocumentTagsClosed{font-size:11px;font-weight:normal;}

/* panier */
.gisiPanierListePair{ background-color:#F2F3F5;}
.gisiPanierListeImpair{ background-color:#ffffff;}
.gisiListePanierLigne{color:#666666;font-size:12px;}
.gisiListePanierLigne a{color:#666666;font-size:12px; font-weight:bold; text-decoration:none;}
.gisiListePanierLigne a:hover{text-decoration: underline;}

/* onglet du haut */
.gisiOngletMenuActif{color:#597085;font-size:12px;font-weight:bold;background-position:center top;}
.gisiOngletMenuInactif{color:#597085;font-size:12px;font-weight:bold;background-position:center top;}

/* deuxième rangée d'onglet */
.gisiListeDocumentNavigation{color:#597085;font-weight:bold;font-size:13px;}
.gisiNavigation{color:#597085;font-weight:bold;font-size:13px;}
.gisiNavigationActif{color:#597085;font-weight:bold;font-size:13px;}
.gisiNavigationInactif{color:#597085;font-weight:bold;font-size:13px;}

/* position ON (actif) */
.btnRed100{background: #ffffff url(../images/common/btnred100.gif) no-repeat;width:100px;height:24px;color:#ffffff;border:none;cursor:pointer;font-weight:bold;padding-bottom:3px;font-size:12px;}
.btnRed120{background: #ffffff url(../images/common/btnred120.gif) no-repeat;width:120px;height:24px;color:#ffffff;border:none;cursor:pointer;font-weight:bold;padding-bottom:3px;font-size:12px;}
.btnRed140{background: #ffffff url(../images/common/btnred140.gif) no-repeat;width:140px;height:24px;font-weight:bold;padding-bottom:6px;color:#ffffff;border:none;cursor:pointer;font-weight:bold;padding-bottom:3px;font-size:12px;}
.btnRed160{background: #ffffff url(../images/common/btnred160.gif) no-repeat;width:160px;height:24px;font-weight:bold;padding-bottom:6px;color:#ffffff;border:none;cursor:pointer;font-weight:bold;padding-bottom:3px;font-size:12px;}

.btnGray100{background: #ffffff url(../images/common/btngray100.gif) no-repeat;width:100px;height:24px;color:#ffffff;border:none;cursor:pointer;font-weight:bold;padding-bottom:3px;font-size:12px;}
.btnGray120{background: #ffffff url(../images/common/btngray120.gif) no-repeat;width:120px;height:24px;color:#ffffff;border:none;cursor:pointer;font-weight:bold;padding-bottom:3px;font-size:12px;}
.btnGray140{background: #ffffff url(../images/common/btngray140.gif) no-repeat;width:140px;height:24px;color:#ffffff;border:none;cursor:pointer;font-weight:bold;padding-bottom:3px;font-size:12px;}
.btnGray160{background: #ffffff url(../images/common/btngray160.gif) no-repeat;width:160px;height:24px;color:#ffffff;border:none;cursor:pointer;font-weight:bold;padding-bottom:3px;font-size:12px;}

/* position disabled */
input[disabled][class=btnRed100]{background: #ffffff url(../images/common/btnred100_disabled.gif) no-repeat;width:100px;height:24px;color:#ffffff;border:none;cursor: default;font-weight:bold;padding-bottom:3px;font-size:12px;}
 input[disabled][class=btnRed120]{background: #ffffff url(../images/common/btnred120_disabled.gif) no-repeat;width:120px;height:24px;color:#ffffff;border:none;cursor: default;font-weight:bold;padding-bottom:3px;font-size:12px;}
input[disabled][class=btnRed140]{background: #ffffff url(../images/common/btnred140_disabled.gif) no-repeat;width:140px;height:24px;color:#ffffff;border:none;cursor: default;font-weight:bold;padding-bottom:3px;font-size:12px;}
input[disabled][class=btnRed160]{background: #ffffff url(../images/common/btnred160_disabled.gif) no-repeat;width:160px;height:24px;color:#ffffff;border:none;cursor: default;font-weight:bold;padding-bottom:3px;font-size:12px;}

input[disabled][class=btnGray100]{background: #ffffff url(../images/common/btngray100_disabled.gif) no-repeat;width:100px;height:24px;color:#ffffff;border:none;cursor: default;font-weight:bold;padding-bottom:3px;font-size:12px;}
input[disabled][class=btnGray120]{background: #ffffff url(../images/common/btngray120_disabled.gif) no-repeat;width:120px;height:24px;color:#ffffff;border:none;cursor: default;font-weight:bold;padding-bottom:3px;font-size:12px;}
input[disabled][class=btnGray140]{background: #ffffff url(../images/common/btngray140_disabled.gif) no-repeat;width:140px;height:24px;color:#ffffff;border:none;cursor: default;font-weight:bold;padding-bottom:3px;font-size:12px;}
input[disabled][class=btnGray160]{background: #ffffff url(../images/common/btngray160_disabled.gif) no-repeat;width:160px;height:24px;color:#ffffff;border:none;cursor: default;font-weight:bold;padding-bottom:3px;font-size:12px;}

/* labelisation spéciale */
.gisiLabel{ font-weight:bold; color:#000000;}

/* six bouton sur la page liste : deux positions disabled, normal*/
.gisiButtonPublish{background: transparent url(../images/common/publier_on.jpg) no-repeat;width:55px;height:62px;border:none;cursor:pointer;}
input[disabled][class=gisiButtonPublish]{background: transparent url(../images/common/publier_off.jpg) no-repeat;width:55px;height:62px;border:none;cursor:pointer;}

.gisiButtonDelete{background: transparent url(../images/common/corbeiller_on.jpg) no-repeat;width:76px;height:62px;border:none;cursor:pointer;}
input[disabled][class=gisiButtonDelete]{background: transparent url(../images/common/corbeiller_off.jpg) no-repeat;width:76px;height:62px;border:none;cursor:pointer;}

.gisiButtonToHomePage{background: transparent url(../images/common/mettealaune_on.jpg) no-repeat;width:102px;height:62px;border:none;cursor:pointer;}
input[disabled][class=gisiButtonToHomePage]{background: transparent url(../images/common/mettealaune_off.jpg) no-repeat;width:102px;height:62px;border:none;cursor:pointer;}

.gisiButtonAddToBasket{background: transparent url(../images/common/ajouter_on.jpg) no-repeat;width:117px;height:62px;border:none;cursor:pointer;}
input[disabled][class=gisiButtonAddToBasket]{background: transparent url(../images/common/ajouter_off.jpg) no-repeat;width:117px;height:62px;border:none;cursor:pointer;}

.gisiButtonDuplicate{background: transparent url(../images/common/dupliquer_on.jpg) no-repeat;width:83px;height:62px;border:none;cursor:pointer;}
input[disabled][class=gisiButtonDuplicate]{background: transparent url(../images/common/dupliquer_off.jpg) no-repeat;width:83px;height:62px;border:none;cursor:pointer;}

.gisiButtonDraft{background: transparent url(../images/common/brouillonner_on.jpg) no-repeat;width:90px;height:62px;border:none;cursor:pointer;}
input[disabled][class=gisiButtonDraft]{background: transparent url(../images/common/brouillonner_off.jpg) no-repeat;width:90px;height:62px;border:none;cursor:pointer;}

.gisiButtonPlanifier{background: transparent url(../images/common/planifier_on.jpg) no-repeat;width:62px;height:62px;border:none;cursor:pointer;}
input[disabled][class=gisiButtonPlanifier]{background: transparent url(../images/common/planifier_off.jpg) no-repeat;width:62px;height:62px;border:none;cursor:pointer;}

input[disabled][class=gisiDocumentAnnuler]{background: transparent url(../images/common/annuler_off.jpg) no-repeat;width:77px;height:62px;border:none;cursor:pointer;}
input[disabled][class=gisiDocumentEnregistrer]{background: transparent url(../images/common/enregistrer_off.jpg) no-repeat;width:77px;height:62px;border:none;cursor:pointer;}
input[disabled][class=gisiDocumentValider]{background: transparent url(../images/common/valider.jpg) no-repeat;width:49px;height:48px;border:none;cursor:pointer;}


.gisiDocumentAnnuler{background: transparent url(../images/common/annuler_on.jpg) no-repeat;width:77px;height:62px;border:none;cursor:pointer;}
.gisiDocumentEnregistrer{background: transparent url(../images/common/enregistrer_on.jpg) no-repeat;width:77px;height:62px;border:none;cursor:pointer;}
.gisiDocumentValider{background: transparent url(../images/common/valider.jpg) no-repeat;width:49px;height:48px;border:none;cursor:pointer;}


.gisiSupprimerPanier{background: transparent url(../images/common/supprimer_du_panier_on.jpg) no-repeat;width:129px;height:62px;border:none;cursor:pointer;}

.gisiViderPanier{background: transparent url(../images/common/vider_panier_on.jpg) no-repeat;width:129px;height:62px;border:none;cursor:pointer;}

.gisiAcces{font-size:11px;}

/* page edition d'un document*/
.gisiDocumentlabel{font-size:12px;font-weight:bold;color:#597085;}
.gisiDocumentEditTabsOnglet{font-size:12px;font-weight:bold;color:#597085;}
.gisiDocumentEditTabsOngletInactif{background: #ffffff url(../images/common/ongletbas_off.jpg);background-repeat:repeat-x;font-size:12px;font-weight:bold;color:#597085;}
.gisiDocumentEditTabsOngletActif{background: #ffffff url(../images/common/ongletbas_on.jpg); background-repeat:repeat-x;font-size:14px;font-weight:bold;color:#597085;}

.gisiDocumentTitre{color:#D2372D;font-size:18px; font-weight:bold; width:455px;}
.gisiDocumentChapo{font-weight:bold; color:#4C4C4C;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;}

.gisiCompter{background: #ffffff url(../images/common/compter.gif); background-repeat:no-repeat;width:73px;height:73px;border:none;}
/* page indexation */
.gisiIndexingOngletInactif{background: #ffffff url(../images/common/ongletbas_off.jpg);background-repeat:repeat-x;font-size:12px;font-weight:bold;color:#597085;background-position:bottom;}
.gisiIndexingOngletActif{background: #ffffff url(../images/common/ongletbas35_on.jpg); background-repeat:repeat-x;font-size:12px;font-weight:bold;color:#597085; background-position:top;}

/* Pages login / password */

.bodyForm{ margin:0;padding:0; font-family:Verdana, Arial, Helvetica, sans-serif;color:#597085; font-size:14px;}
#zoneLogin{width:550px;margin:150px auto 0 auto;font-weight:bold;}
#zoneLogin a{color:#597085; font-size:14px;font-weight:bold;}
.zoneFormLabel{width:200px;text-align:right;float:left; margin-bottom:15px;}
.zoneFormInput{width:300px;padding-left:50px;float:left;margin-bottom:15px;}
.zoneFormInput input{width:200px;}
.zoneFormSubmit{width:300px;margin-left:250px;}

.gisiHomeDocumentPair{background-color:#F2F3F5;}
.gisiHomeDocumentImpair{background-color:#ffffff;}
/* span */
.gisiReservedHomePage{font-size:16px;color:#597085;font-weight:bold;}
.gisiLeadHomePage{color:#607D11;font-size:16px; font-weight:bold;}

.gisiTagDansListePair{}
.gisiTagDansListeImpair{}
.gisiTagDansListe{font-weight:normal;}
.gisiTagEdition{}

.gisiDocumentLabelColumn{text-align:right;width:50px;}
.gisiDocumentValueColumn{}
.gisiEditDocTitleLabel{width:40px}
.gisiEditDocTitleInput{}
.gisiWaitRequest{color:#FFFFFF;font-weight:bold;font-size:12px;}

.gisiLogoutRow{}
.gisiWaitRequestRow{height:26px;}

/* Pages Utilisateurs*/

.gisiCustomerColumn1{width:33%;font-weight:bold;}
.gisiCustomerColumn2{background-color:#F2F3F5;width:66%;padding-left:5px}
.gisiCustomerColumnTop1, .gisiCustomerColumnTop2{vertical-align:top;}

/* newsletter */
.gisiButtonDupliquerNewsletter{background: transparent url(../images/common/dupliquer-newsletter_on.gif) no-repeat;width:129px;height:42px;border:none;cursor:pointer;}
input[disabled][class=gisiButtonDupliquerNewsletter]{background: transparent url(../images/common/dupliquer-newsletter_off.gif) no-repeat;width:129px;height:42px;border:none;cursor:pointer;}
.gisiNewsletterCol1{color:#666666;font-size:12px;font-weight:bold;}
.gisiNewsletterCol2{color:#666666;font-size:12px;font-weight:bold;}
.gisiNewsletterCol3{color:#666666;font-size:12px;font-weight:bold;}
.gisiNewsletterTplFile{vertical-align:top;}
.gisiNewsletterModuleTable{vertical-align:top;}
.newsletterBlocDelete{float:right}
.newsletterBlocDocumentTable{width:75%;}
.gisiNewsletterBlocCol1{width:10%;color:#666666;font-size:12px;font-weight:bold; border-top:1px #CCCCCC solid;text-align:center;}
.gisiNewsletterBlocCol2{width:90%;color:#666666;font-size:12px;}

/* Indexation */

.gisiTagTree{}
.gisiTagTreeControls{vertical-align:top;float:right;}
.gisiTagExportPanel{}
.gisiNewTagButton{vertical-align:top;}

.gisiTagDescriptionColumn1, .gisiTagDescriptionColumn2, .gisiTagDescriptionColumn3{vertical-align:top;text-align:right;}
.gisiTagDescriptionColumn4{vertical-align:center;}

.rich-tool-tip{ background-color: #eef2f8; border-color: #7196c8;}

.rich-ordering-list-row-selected{background-color: #FAFFAB;}
/*.rich-ordering-list-row-active{background-color: #FAFFAB;}*/

/* Moderation */
.gisiModerationLabelColumn{width:150px;}
.gisiModerationValueColumn{}

.scrollableBody {overflow: scroll; height:20px;}
.noScrollableBody {overflow: hidden;}

/* Utilisateur BO */
.gisiBoUserLabelColumn{width:150px;}
.gisiBoUserValueColumn{}
.gisiBoUserColumnTop1, .gisiBoUserColumnTop2{vertical-align:top;}

.legend{background: #ffffff url(../images/common/legende.gif);background-repeat:no-repeat;font-weight:bold; }