.login .vertical-form {
	margin: 0 auto;
	max-width: 330px;
}

.login .vertical-form input {
	display: block;
	margin: 0px auto 18px;
	border-radius: 3px;
	outline: medium none;
}

.login .vertical-form p {
	display: block;
	margin-top: 10px;
}

.login .horizontal-form input {
	border-radius: 3px;
	outline: medium none;
}