<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin>
    <version>0.1</version>
    <nom>OpenSearchServer</nom>
    <prefix>oss</prefix>
    <auteur>Pascal MERCIER [contact->mailto:pmercier@open-search-server.com], [NKubz->http://nkubz.net]</auteur>
    <etat>dev</etat>
    <licence>&#169; 2009 - <strong style="color:red">En attente de réponse</strong></licence>
    <description>
    	<multi>
[fr]Etablie OpenSearchServer comme moteur de recherche au sein de SPIP. 
[en]Set Open-Search-Server as the default search engine for SPIP.
		</multi>
	</description>
    <lien>http://www.open-search-server.com</lien>
    <necessite id="SPIP" version="[2.0;)" />
    
    <fonctions>inc/base.php</fonctions>
    <fonctions>inc/prepare_recherche.php</fonctions>
    
    <options>oss_options.php</options>
    
    <pipeline>
    	<nom>post_edition</nom>
    	<action>indexation</action>
    	<inclure>base/pipelines.php</inclure>
    </pipeline>
    
    <pipeline>
    	<nom>header_prive</nom>
    	<inclure>base/pipelines.php</inclure>
    </pipeline>
    
	<bouton id="oss_info_engine" parent="configuration">
		<icone>images/icon_oss.png</icone>
		<titre>oss:gestion_indexation</titre>
	</bouton>

	<onglet id="oss_info_engine" parent="onglet_oss">
		<icone>images/information.png</icone>
		<titre>Informations</titre>
	</onglet>
	
	<onglet id="oss_config_engine" parent="onglet_oss">
		<icone>images/cog.png</icone>
		<titre>Moteur</titre>
	</onglet>
	
	<onglet id="oss_config_indexation" parent="onglet_oss">
		<icone>images/application_form_edit.png</icone>
		<titre>Indexation</titre>
	</onglet>
	
	<onglet id="oss_index_maintenance" parent="onglet_oss">
		<icone>images/brick.png</icone>
		<titre>Maintenance</titre>
	</onglet>

</plugin>
