@CHARSET "UTF-8";
.fileext {
	background: url(mime.png) no-repeat top left;
	width: 32px;
	height:32px;
}
.mime- { background-position: 0 0; } 
.mime-bin, .fileext-bin, .fileext-com, .fileext-exe { background-position: -37px 0; } 
.mime-csharp { background-position: -74px 0; } 
.mime-cpp, .fileext-cpp { background-position: -111px 0; } 
.mime-c, .fileext-c { background-position: -148px 0; } 
.mime-cal, .fileext-cal { background-position: -185px 0; } 
.mime-compressed, .fileext-zip, .fileext-tgz, .fileext-gz, .fileext-7z, .fileext-rar { background-position: -222px 0; } 
.mime-csv, .fileext-csv { background-position: -259px 0; } 
.mime-dfx, .fileext-dfx { background-position: -296px 0; } 
.mime-doc, .fileext-doc { background-position: -333px 0; } 
.mime-eml, .fileext-eml, .fileext-email { background-position: -370px 0; } 
.mime-awk, .fileext-awk { background-position: -407px 0; } 
.mime-flv, .fileext-flv, .fileext-swf { background-position: -444px 0; } 
.mime-font { background-position: -481px 0; } 
.mime-font_type1 { background-position: -518px 0; } 
.mime-hpp, .fileext-hpp { background-position: -555px 0; } 
.mime-h, .fileext-h { background-position: -592px 0; } 
.mime-html, .fileext-htm, .fileext-html, .fileext-xhtml, .fileext-xhtm { background-position: -629px 0; } 
.mime-inf, .fileext-inf { background-position: -666px 0; } 
.mime-jar, .fileext-jar { background-position: -703px 0; } 
.mime-java, .fileext-java { background-position: -740px 0; } 
.mime-js, .fileext-js { background-position: -777px 0; } 
.mime-man { background-position: -814px 0; } 
.mime-mathml { background-position: -851px 0; } 
.mime-mid, .fileext-mid { background-position: -888px 0; } 
.mime-makefile, .fileext-makefile { background-position: -925px 0; } 
.mime-movie, .fileext-mov, .fileext-avi, .fileext-mp4, .fileext-mkv { background-position: -962px 0; } 
.mime-odb, .fileext-odb { background-position: -999px 0; } 
.mime-odc, .fileext-odc { background-position: -1036px 0; } 
.mime-odf, .fileext-odf { background-position: -1073px 0; } 
.mime-odi, .fileext-odi { background-position: -1110px 0; } 
.mime-odp, .fileext-odp { background-position: -1147px 0; } 
.mime-ods, .fileext-ods { background-position: -1184px 0; } 
.mime-odt, .fileext-odt { background-position: -1221px 0; } 
.mime-pas, .fileext-pas { background-position: -1258px 0; } 
.mime-patch, .fileext-patch { background-position: -1295px 0; } 
.mime-pdf, .fileext-pdf { background-position: -1332px 0; } 
.mime-php, .fileext-php { background-position: -1369px 0; } 
.mime-pl, .fileext-pl { background-position: -1406px 0; } 
.mime-ppt, .fileext-ppt { background-position: -1443px 0; } 
.mime-ps, .fileext-ps { background-position: -1480px 0; } 
.mime-py, .fileext-py { background-position: -1517px 0; } 
.mime-rb, .fileext-rb { background-position: -1554px 0; } 
.mime-image, .fileext-jpg, .fileext-gif, .fileext-jpeg, .fileext-tif, .fileext-tiff, .fileext-png { background-position: -1591px 0; } 
.mime-sdc, .fileext-sdc { background-position: -1628px 0; } 
.mime-sh, .fileext-sh, .fileext-bat { background-position: -1665px 0; } 
.mime-snd, .fileext-mp3, .fileext-wma { background-position: -1702px 0; } 
.mime-svg, .fileext-svg { background-position: -1739px 0; } 
.mime-sxc, .fileext-sxc { background-position: -1776px 0; } 
.mime-tar, .fileext-tar { background-position: -1813px 0; } 
.mime-tcl, .fileext-tcl { background-position: -1850px 0; } 
.mime-tex, .fileext-tex { background-position: -1887px 0; } 
.mime-ttf, .fileext-ttf { background-position: -1924px 0; } 
.mime-txt, .fileext-txt { background-position: -1961px 0; } 
.mime-vcalendar, .fileext-vcal { background-position: 0 -37px; } 
.mime-vcard, .fileext-vcard { background-position: -37px -37px; } 
.mime-wav, .fileext-wav { background-position: -111px -37px; } 
.mime-wri { background-position: -148px -37px; } 
.mime-xls, .fileext-xls { background-position: -185px -37px; } 
.mime-xml, .fileext-xml { background-position: -222px -37px; } 
.mime-xsd, .fileext-xsd, .fileext-xslt { background-position: -259px -37px; } 
